*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* border:2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(248, 235, 217);
    /* background-color: #f4e4ba; */
}

.container{
    /* border:2px solid red; */
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 50vh;
    width:45vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form input,select,button{
    width:100%;
    /* border:1px solid red; */
    border-radius: 0.5rem;
    border:none;
    outline: none;
}

form input{
    border:1px solid lightgray;
    font-size: 1rem;
    padding-left:0.3rem;
    height:2.5rem;
}

.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    margin-top: 2rem;
}

.select-container img{
    max-width:2rem;
}

.select-container{
     border: 1px solid lightgray;
     display:flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.5rem;
     width:6rem;
}

.dropdown i{
    font-size: 1rem;
    margin-top: 1rem;
}

.msg{
    margin: 2rem 0 1rem 0;
}

.select-container select{
    font-size: 1rem;
    width:auto;
}

form .btn{
    height:2.5rem;
    background-color: rgb(153, 109, 55);
    font-size: 1.15rem;
    color:white;
    cursor:pointer;
}